__pycache__

*.cover
*.log
*.md
*.pyc
*.pyd
*.pyo
*.yaml

.coverage.*
.cache
.dockerignore
.editorconfig
.env
.env.sample
.git
.gitignore

.github/
.mypy_cache/
.pytest_cache/

coverage.xml
setup.cfg
Makefile
dockerfiles/
tests/
